@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top:2rem ;
    list-style: none;
    text-decoration: none;
}
section{
    padding: 40px 9%;
}
/*  start navbar  */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 100px;
    background:#e4dfdc;
    color: #3a2419;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: #3a2419;
}
.logo span{
    color: #a35d3b;
    font-size: 30px;
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color:#3a2419;
}
.navbar a:hover{
    color:#a35d3b;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
/* end navbar */
/* start home page */
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.home-text h1{
    font-size: 2.7rem;

}
.home-text h4{
    font-size:1rem ;
    margin:0.5rem 0 2rem;
}
.home-text span{
    color: #a35d3b;
}
.btn{
    padding: 10px 14px;
    background: #a35d3b;
    color: #edecea;
    border-radius: 0.5rem;
    font-size:15px;
}
.btn:hover{
    background-color: #3a2419;
}
/* end home page */
/* stast hot drink page */
.heading{
    font-size: 14px;
    font-weight: 500;
    color: #a35d3b;
    text-transform: uppercase;
    
    
}
.shop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box{
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 30px 30px 30px 30px;
}
.box .box-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    object-fit: contain;
}
.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
}
.box:hover .box-img img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}
.box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: #a35d3b;
}


.box .bx-cart:hover{
    background: #0f1407;
}
/* <!-- end hot drink page --> */
/* start about page */
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.about-img img{
    width: 80%;
    border-radius:15px;
    object-fit: contain;
}
.about-text span{
    color: #a35d3b;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.about-text p{
    font-size: 0.9rem;
    margin: 0.5rem 0 1.4rem;
}
/* end about page */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a37761;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletter h2{
    color: #fff;
}
.news-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.news-box input{
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding:10px ;
}
.news-box .btn{
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
}
/* end contact page */
@media (max-width:991px){
    header{
        padding:18px 4% ;;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width:881px){
    .home-text h1{
        font-size: 2rem;
    }
    .shop-container,.new-contanier{
        grid-template-columns: repeat(auto-fit,minmax(218,auto));
    }
}
@media (max-width:881px){
    header{
        padding:11px 4%;
    }
    #menu-icon{
        display: initial;

    }
    header .navbar  {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .navbar.active{
        top:100%
    }
    .navbar a:hover {
        background: #83b735;
        color: #edecea;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding-top: 1rem;
        order:2;
    }
}
@media (max-width:491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit,minmax(200,auto));
    }
    .box .box-img{
        height: 300px;
    }
    .news-box input {
        width: 180px;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
}